.detailsCarta{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 3% 10% 3% 10%;
    border-radius: 10px;
    background-color: #222;
}
.infoCarta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 0 10% 0 10%;
    border-radius: 10px;
    background-color: #222;
}
.infoCarta h1{
    font-size: 4em;
    color: #ffffff;
    margin-bottom: 5%;
}
.sobreContenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 10px;
    background-color: #222;
}
