.reservado{
    background-color: #111111;
    position: relative;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 12px;
    font-weight: bold;
    bottom: 0;
    /* width: 100%; */
    box-shadow: 0px 0px 10px 0px #000;
    margin-top: 1px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: space-around;
    gap: 10%;
    background-color: #242424;
    font-size: 0.9em;
}